@font-face {
    font-family: "Billabong";
    src: "fonts/Billabong.ttf" format("truetype");
}
.logoText {
    font-family: Billabong;
    font-size: 200%;
}

.profileImage {
    border-radius: 50%;
    width: 48;
    height: 48;
}

.postedImage {
    width: 100%;
    border-radius: 0.5%;
}

.panel-body {
    padding: 0px;
}

.media {
    margin-bottom: 10px;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body {
    background-color: #dedede;
}

.logo {
    margin-bottom: 10px;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
    float:none;
}
.footer {
    background-color: white;
}



#logoFooter {
    color: #555;
}

.camera {
    height: 256px;
    width: 256;
}

.jumboLogoText {
    font-family: Billabong;
}

hr {
    border-bottom: 1px solid #ddd;
}
